*{
  margin: 0;
  padding: 0;
}

.myheader {
  height: 25px;
  

}


.myfooter {
  background-color: #282828;
  height: 100px;
}

.sec1 {
  background-image: url(../images/img.jpg);
  height: 500px;
  background-repeat: no-repeat;
}


.sectiondevfoot{
  background-color: #282828;

  float: left;
  width: 50%;
  margin: 0;
  height: 400px;

}

.sectiondevfoot h3 {
  color: white; 
  padding-top: 40px;

  padding-left: 10%;
}
.sectiondevfoot .textbox {

color:white;
color: white; padding-top: 40px;
width: 300px;

padding-left: 10%;

}
.footlst {
  list-style-type: none;
  padding-left: 50px;
  height:40px;
  overflow: hidden;
  background-color: #282828;
  float:right;
  display: block;
  width: 100%;




}

.footlst li {
  float: left;
  font-size: 20px;
  padding-left: 45px;


}


.footlst li a {
  display: auto;

color:white;
text-decoration: none;



}
.footlst li a:hover{
 color: #333333;
  font-weight: bold;
}


.hedlst {
  list-style-type: none;
  padding-left: 50px;
  height:40px;
  overflow: hidden;
  float:right;
  display: block;
  width: 100%;
  background-image: url(/images/img.jpg);
}

.hedlst li {
  float: right;
  font-size: 25px;
  padding-left: 45px;
margin-right: 20px;

}


.hedlst li a {
  display: auto;

color:white;
text-decoration: none;



}
.hedlst li a:hover{
  font-weight: bold;
 color: brown;
}

.title {
  font-family: Arial, Helvetica, sans-serif;
padding: 20%;
  font-size: 100px;
  text-align: center;
color:white;
letter-spacing: 10px;

}
.btn{

  top: 50%;
  left: 50%;
  background-color: #f1f1f1;
  color: black;
  font-size: 20px;
  padding: 16px 30px;
  border: none;
  border-radius: 5px;
  text-align: center;
}

.btn:hover {
  background-color: black;
  color: white;
}


.sec2 {
  height: 500px;
    background-repeat: no-repeat;
}
.tboks {

  color: white;
  -webkit-text-stroke: 3px black;
  margin-top: 50px;
  margin-left: 30px;
  font-size: 50px;
  font-family: Arial, Helvetica, sans-serif;
}


.book {
  width: 300px;
  height: 400px;
  border: 1px solid gray;
  background-color: rgb(170, 170, 170);
  box-sizing: border-box;
  float: left;
padding: 10px;
width: 19%;
margin: 5px;
text-align: center;
font-size: 25px;
color: white;

}
.book img{
  width: 270px;
   height: 330px;
}


.book img:hover{
  width: 300px;
  height: 350px;
}
.form {
  
  align-items: center;
padding-top: 80px;
padding-left: 10%;
vertical-align: middle;

  justify-content: center;
position: center;
font-size: 40px;
}
.form input[type=text] {
  width: 80%;
  box-sizing: border-box;
  margin: 2px 0;
  border: 3px solid gray;
  height: 40px;

}


.form input[type=password] {
  width: 20%;
  box-sizing: border-box;
  margin: 3px 0;
  border: 3px solid gray;
  height: 40px;

}
.form input[type=button] {
  width: 20%;
  box-sizing: border-box;
  margin-right: 50px;
  margin-left: 44%;
  border: 3px solid brown;
  background-color: brown;
  color:white;
  height: 40px;
  align-items: center;

}
