*{
  margin: 0;
  padding: 0;
}

.myheader {
  height: 25px;
  

}



.sec1 {
  background-image: url(../images/img.jpg);
  height: 500px;
  background-repeat: no-repeat;
}
footer{
  height: 400px;
  margin-bottom: 0px;
  padding-bottom: 0px;
  width: 100%;
display: inline-block;}
.sectiondevfoot{
  background-color: #282828;
  float: left;
  width: 50%;
  margin: 0;
  height: 400px;

}

.sectiondevfoot h3 {
  color: white; 
  padding-top: 40px;

  padding-left: 10%;
}
.sectiondevfoot .textbox {

color:white;
color: white; padding-top: 40px;
width: 300px;

padding-left: 10%;

}
.footlst {
  list-style-type: none;
  padding-left: 50px;
  height:40px;
  overflow: hidden;
  background-color: #282828;
  float:right;
  display: block;
  width: 100%;




}

.footlst li {
  float: left;
  font-size: 20px;
  padding-left: 45px;


}


.footlst li a {
  display: auto;

color:white;
text-decoration: none;



}
.footlst li a:hover{
 color: #333333;
  font-weight: bold;
}


.hedlst {
  list-style-type: none;
  padding-left: 50px;
  height:40px;
  overflow: hidden;
  float:right;
  display: block;
  width: 100%;
  background-image: url(/images/img.jpg);
}

.hedlst li {
  float: right;
  font-size: 25px;
  padding-left: 45px;
margin-right: 20px;

}


.hedlst li a {
  display: auto;

color:white;
text-decoration: none;



}
.hedlst li a:hover{
  font-weight: bold;
 color: brown;
}

.title {
  font-family: Arial, Helvetica, sans-serif;
padding: 20%;
  font-size: 100px;
  text-align: center;
color:white;
letter-spacing: 10px;

}
.btn{
align-items: center;  
  background-color: #f1f1f1;
  color: black;
  font-size: 20px;
  border: none;
  border-radius: 5px;
  text-align: center;
  text-decoration: none;
padding: 10px 20px 10px;
}

.btn:hover {
  background-color: black;
  color: white;
}


.sec2 {
  height: 500px;
    background-repeat: no-repeat;
}
.tboks {

  color: white;
  -webkit-text-stroke: 3px black;
  margin-top: 50px;
  margin-left: 30px;
  font-size: 50px;
  font-family: Arial, Helvetica, sans-serif;
}


.book {
  width: 300px;
  height: 400px;
  border: 1px solid gray;
  background-color: rgb(170, 170, 170);
  box-sizing: border-box;
  float: left;
padding: 10px;
width: 19%;
margin: 5px;
text-align: center;
font-size: 25px;
color: white;

}
.book img{
  width: 270px;
   height: 330px;
}


.book img:hover{
  width: 300px;
  height: 350px;
}
.form {
  margin-left: 20%;
  align-items: center;
padding-top: 80px;
padding-left: 10%;
vertical-align: middle;

  justify-content: center;
position: center;
font-size: 40px;
}
.form input[type=text] {
  width: 80%;
  box-sizing: border-box;
  margin: 2px 0;
  border: 3px solid gray;
  height: 40px;

}


.form input[type=password] {
  width: 20%;
  box-sizing: border-box;
  margin: 3px 0;
  border: 3px solid gray;
  height: 40px;

}
.form input[type=button], .supbtn {
  width: 20%;
  box-sizing: border-box;
  margin-right: 20px;
  margin-left: 20%;
  border: 3px solid brown;
  background-color: brown;
  color:white;
  height: 40px;
  align-items: center;
  text-decoration: none;
  padding: 5px 80px;
  font-size: 20px;

}

.story{
  font-family: Arial, Helvetica, sans-serif;
  font: size 30px; 
  line-height: 30px;
  letter-spacing:1.3px ;
  margin-left: 40px;
}
.but{
  margin-left: 40px;
  width:90px ;
  height:40 ;
  border: none;
  font-size: 25px;
}
.books1{
  padding-bottom: 100px;
  padding-left: 100px;
  display: inline-block;
  }
  
.booksh{

  margin-left: 20px;
  float: left;
  align-items: center;
  align-content: center;
  width: 22%;
  margin-bottom: 15px;
  text-align: center;
}
.booksh h3{
  color: rgb(229, 87, 5);
  }



.bookcont{
padding-top: 100px;
display: inline-block;
  }